<div id='list_partial'>
  <ul class="five-column list">
    <% @resources.each do |element| %>
      <li class="column">
        <div class="element standard challenge" id="list_partial">
          <a href="#">
          <figure style="background-color:<%=element.color%>">
            <span class="ratio"></span>
          </figure>
          </a>
          <div class="info">
          <div class="category-kind">
            <span class="kind">Rainbow colors</span>
          </div>
          <h3><%= element.name %></h3>
        </div>
      </li>
    <% end %>
  </ul>
</div>
