<p id="notice"><%= notice %></p>

<div class="header"><h1>Listing Elements</h1></div>
<%= render partial: 'list_partial'%>
<div class="button-container">
  <div class="button"><%= show_more_button('list_partial') %></div>
</div>
